LEKTOR/LEKTOR_MIKROCONTROLLER/.vs/LEKTOR_MIKROCONTROLLER/v14/.atsuo
LEKTOR/LEKTOR_MIKROCONTROLLER/LEKTOR_MIKROCONTROLLER/Debug/main.o
LEKTOR/LEKTOR_MIKROCONTROLLER/.vs/LEKTOR_MIKROCONTROLLER/v14/.atsuo
LEKTOR/PC/PC.VC.db
LEKTOR/PC/.vs/PC/v15/Browse.VC.opendb
LEKTOR/LEKTOR_MIKROCONTROLLER/LEKTOR_MIKROCONTROLLER/Debug/*.*
*.atsuo
*.o
*.hex
LEKTOR/CENTRALCOMPUTER_MIKROCONTROLLER_MODTAGER/CENTRALCOMPUTER_MIKROCONTROLLER_MODTAGER/DEBUG/*.*