LEKTOR/LEKTOR_MIKROCONTROLLER/.vs/LEKTOR_MIKROCONTROLLER/v14/.atsuo
LEKTOR/LEKTOR_MIKROCONTROLLER/LEKTOR_MIKROCONTROLLER/Debug/main.o
LEKTOR/LEKTOR_MIKROCONTROLLER/.vs/LEKTOR_MIKROCONTROLLER/v14/.atsuo
LEKTOR/LEKTOR_MIKROCONTROLLER/.vs/LEKTOR_MIKROCONTROLLER/v14/.atsuo
LEKTOR/LEKTOR_MIKROCONTROLLER/.vs/LEKTOR_MIKROCONTROLLER/v14/.atsuo